/* stylelint-disable selector-not-notation */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2"), url("../fonts/ptsans-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans";
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.index__header {
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
}

.main__header {
  margin: -1px;
  padding: 0;
  display: flex;
}

.header__logo {
  margin-left: 71px;
  width: 139px;
  margin-bottom: -10px;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.menu__navigation-list {
  margin: 0 0 0 30px;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  position: relative;
}

.menu__navigation-list li a {
  padding-right: 17px;
  padding-left: 17px;
}

.menu__user-menu {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 264px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

.user-menu__link {
  display: block;
  position: relative;
  width: 42px;
  height: 66px;
}

.navigation__item {
  position: relative;
  display: flex;
  height: 66px;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.navigation__item--current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 4px;
  background-color: #756257;
  content: "";
}

.main-container__welcome-text {
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 80px;
}

.main-container__welcome-image {
  background-image: url("../img/background/index-background.jpg");
  width: 1200px;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 51px;
  margin-bottom: 60px;
}

.welcome-image__divider {
  padding-top: 22px;
}

.welcome-text__slogan {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 36px;
}

.welcome-text__description {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.main__todo-section {
  text-align: center;
  width: 1200px;
  min-height: 417px;
}

.todo-section__search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #756257;
  width: 575px;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 93px;
}

.user-menu__icon {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.page-footer--index {
  display: block;
  background-image: url("../img/background/footer-background.jpg");
  color: #ffffff;
  margin: 0 auto;
  min-height: 411px;
}

.page-footer {
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
}

.page-footer--index h2 {
  padding-top: 94px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.page-footer h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}

.page-footer__subscribe-block h2 {
  margin-bottom: 46px;
}

.page-footer--index .page-footer__subscribe-block h2 {
  margin-bottom: 29px;
}

.page-footer--index p,
.page-footer p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}

.user-menu__order-button {
  margin: 14px 0 14px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 37px;
  border: none;
  border-radius: 4px;
  background-color: #756257;
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.page-footer--index .page-footer__subscribe-block {
  padding-bottom: 74px;
  padding-top: 94px;
}

.main-container__header {
  background-color: #0000ff;
  background-image: url("../img/background/catalog-background.jpg");
  background-repeat: no-repeat;
  min-height: 408px;
}

.advantages__advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(4, 384px);
}

.advantages-list__item--large:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.advantages-list__item--large:nth-child(2) {
  grid-column: 3/-1;
  grid-row: 1/2;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-list__image--first {
  grid-column: 2/-1;
  grid-row: 1/2;
}

.advantages-list__image--second {
  grid-column: 1/3;
  grid-row: 1/2;
}

.advantages-list__item:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 384px);
}

.advantages-list__item:nth-child(1) {
  grid-column: 1/-1;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 384px);
}

.advantages-list__item-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 250px;
  margin-left: 75px;
}

.advantages-list__item-number {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages-list__item-title {
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 97px;
  margin-bottom: 30px;
}

.advantages__advantages-list li:nth-child(1),
.advantages__advantages-list li:nth-child(2) {
  background-color: #83b3d3;
}

.advantages-list__item li:nth-child(1),
.advantages-list__item li:nth-child(3),
.advantages__advantages-list li:nth-child(3),
.advantages__advantages-list li:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list__item li:nth-child(2) {
  background-color: #ffffff;
}

.advantages__advantages-list li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list__item {
  margin: 0;
  padding: 0;
  color: #333333;
  list-style-type: none;
  width: 400px;
  height: 384px;
}

.advantages-list-inner__item {
  position: relative;
  margin: 0;
  padding: 0;
  color: #333333;
  list-style-type: none;
  width: 400px;
  height: 384px;
}

.advantages-list__icons {
  position: absolute;
}

.advantages-list__icons:nth-child(1) {
  top: 89px;
  left: 163px;
}

.advantages-list__icons:nth-child(2) {
  top: 91px;
  left: 163px;
}

.advantages-list__icons:nth-child(3) {
  top: 85px;
  left: 168px;
}

.advantages-img {
  width: 800px;
}

.advantages-list__item-large {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages__advantages-list--inner {
  display: flex;
  color: #333333;
  background-color: #ffffff;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.advantages__advantages-list--inner .advantages-list__item-title {
  margin-top: 184px;
  margin-bottom: 20px;
  padding-top: 0;
}

.main__todo-section h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
  color: #000000;
  padding-top: 91px;
  margin: 0;
}

.main__todo-section p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  padding: 29px 0 56px;
  margin: 0;
  letter-spacing: 0;
}

.main__todo-section span {
  display: block;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  padding: 0;
  margin-top: -2px;
  margin-left: -20px;
  word-spacing: 0;
}

.contacts__phone {
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 15px;
  width: 340px;
  text-align: center;
  flex-shrink: 0;
}

.main-container__header h1 {
  color: #ffffff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 35px 71px 0;
  margin: 0;
}

.header__breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: -8px 0 0 74px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

.header__breadcrumbs li:first-of-type {
  margin-left: -8px;
}

.header__breadcrumbs li:not(:first-of-type) {
  margin-left: 2px;
}

.header__breadcrumbs li:nth-of-type(2) {
  padding-top: 3px;
}

.hotel-selector__filter-form {
  margin-top: 42px;
  margin-left: 72px;
  display: flex;
  flex-wrap: wrap;
}

.hotel-selector__filter-form ul {
  list-style-type: none;
}

.header__hotel-selector {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}

.filter-form__catalog-filter-group {
  border: none;
}

.filter-form__catalog-filter-group:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  grid-template-rows: 28px 48px 20px;
  row-gap: 20px;
  width: 287px;
  margin: 0 81px 0 0;
  padding: 0;
}

.filter {
  display: flex;
}

.catalog-filter-group__filter-list {
  padding: 0;
  margin: 0;
}

.filter-form__catalog-filter-group:nth-child(1) {
  width: 150px;
  margin: 0 67px 0 0;
  padding: 0;
}

.filter-form__catalog-filter-group:nth-child(2) {
  width: 180px;
  margin: 0 131px 0 0;
  padding: 0;
}

.catalog-filter-group__filter-list li:not(:first-of-type) {
  padding: 0;
  margin: 13px 0 0 0;
}

.catalog-filter-group__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 31px;
  padding: 0;
}

.filter-form__filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-sorting {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.select-control {
  border: 2px solid #333333;
  margin-left: 192px;
  width: 287px;
  height: 48px;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333333;
  padding: 13px 0 13px 19px;
  margin-right: 81px;
}

.filter-buttons--apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  font-family: "PT Sans";
  line-height: normal;
  background-color: #83b3d3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-top: 58px;
  margin-bottom: 20px;
}

.filter-buttons--reset {
  border: 3px solid transparent;
  border-radius: 4px;
  display: block;
  width: 100px;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.search-sorting h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 50px 0 0 71px;
}

.sort-by-table {
  display: block;
  color: #000000;
  padding: 15px 14px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 8px;
  width: 16px;
  height: 14px;
  text-decoration: none;
}

.search-result-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  padding: 0;
  margin: 0 72px;
}

.search-result {
  margin-bottom: 34px;
}

.selected {
  border: 2px solid #000000;
}

.sort-by-card {
  color: #000000;
  padding: 15px 14px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 16px;
  margin-right: 8px;
  height: 14px;
  text-decoration: none;
}

.sort-by-list {
  color: #000000;
  padding: 15px 14px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 16px;
  height: 14px;
  text-decoration: none;
}

.hotel-item {
  width: 300px;
  padding: 20px;
  list-style-type: none;
}

.hotel-item a {
  text-decoration: none;
}

.hotel-item-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000000;
  margin: 11px 0 16px;
}

.hotel-item-type {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333333;
  width: 133px;
}

.hotel-info {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}

.hotel-item-price {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333333;
  width: 143px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  font-family: "PT Sans";
  line-height: normal;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.item-buttons {
  display: flex;
  margin-bottom: 16px;
}

.hotel-stars {
  display: flex;
  flex-grow: 0;
  align-items: center;
}

.hotel-stars img {
  margin-right: 7px;
}

.hotel-stars img:nth-child(5) {
  margin-right: 0;
}

.item-rating {
  display: flex;
  justify-content: space-between;
}

.details {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756257;
  border: none;
  margin-right: 26px;
  width: 133px;
}

.button a {
  color: #ffffff;
}

.to-favorite {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  width: 140px;
}

.hotel-item-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 37px;
  line-height: normal;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.favorite {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #7db54f;
  border: none;
  width: 140px;
}

.load-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #83b3d3;
  color: #ffffff;
  width: 620px;
  height: 60px;
  font-family: "PT Sans";
  line-height: normal;
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border: none;
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  flex-wrap: wrap;
}

.pagination-nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 72px;
  padding: 0;
  margin-top: 0;
}

.hotels-visible-now {
  display: flex;
  align-items: center;
  height: 55px;
  margin-right: 73px;
  flex-wrap: wrap;
}

.hotels-on-page {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 51px;
}

.page-number a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  min-height: 55px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  line-height: normal;
  text-decoration: none;
}

.current-page a {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels-visible-now,
.select-number-visible-items {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333333;
}

.select-number-visible-items {
  width: 160px;
  height: 48px;
  padding: 13px;
}

.subscribe-block__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__email {
  display: block;
  margin-right: 0;
  font-family: "PT Sans";
  width: 560px;
  padding: 0 20px;
  height: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 0 0 10px;
  background: #f2f2f2;
  border: none;
  margin-bottom: 20px;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5px;
  margin-bottom: 20px;
  padding: 0;
  width: 200px;
  height: 60px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  background-color: #83b3d3;
  border: none;
}

.page-footer__subscribe-block {
  padding-top: 51px;
  text-align: center;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  flex-wrap: wrap;
}

.contacts__links {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  gap: 24px;
  margin-left: 70px;
  list-style-type: none;
  flex-shrink: 0;
  padding: 0;
}

.contacts__links--social {
  margin-left: -8px;
}

.twitter {
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px;
  fill: rgba(131, 179, 211, 1);
}

.facebook {
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px;
  fill: rgba(131, 179, 211, 1);
}

.youtube {
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px;
  fill: rgba(131, 179, 211, 1);
}

.contacts__links li:nth-child(3n) {
  margin-right: 0;
}

.contacts__developer {
  width: 115px;
  margin-right: 72px;
  margin-left: 53px;
  flex-shrink: 0;
}

.navigation-item:hover {
  color: #756257;
}

.navigation-item:active {
  color: rgba(117, 98, 87, 0.3);
}

.user-menu__link:hover .user-menu__icon {
  fill: #756257;
}

.user-menu__link:active .user-menu__icon {
  fill: rgba(117, 98, 87, 0.3);
}

.user-menu__order-button:hover,
.todo-section__search-button:hover {
  background-color: #615048;
}

.user-menu__order-button:focus,
.todo-section__search-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: -2px;
}

.user-menu__order-button:active,
.todo-section__search-button:active a {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.form__button:hover {
  background-color: #68a2ca;
}

.form__button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.twitter:hover,
.facebook:hover,
.youtube:hover {
  fill: rgba(104, 162, 202, 1);
}

.twitter:focus,
.facebook:focus,
.youtube:focus {
  fill: rgba(104, 162, 202, 1);
  outline: 3px solid #83b3d3;
}

.twitter:active,
.facebook:active,
.youtube:active {
  fill: rgba(104, 162, 202, 0.3);
  outline: none;
}

.contacts__phone:hover {
  color: rgba(117, 98, 87, 1);
}

.contacts__phone:focus {
  border-radius: 10px;
  border: 3px solid #83b3d3;
  outline: none;
}

.contacts__phone:active {
  opacity: 0.3;
  border: none;
}

.contacts__developer:hover {
  fill: rgba(117, 98, 87, 1);
}

.contacts__developer:focus {
  outline: none;
}

.contacts__developer:focus .contacts__developer {
  fill: rgba(117, 98, 87, 1);
  padding: 10px;
  margin-left: -13px;
  border-radius: 10px;
  border: 3px solid #83b3d3;
  outline: none;
}

.contacts__developer:active {
  fill: rgba(117, 98, 87, 0.3);
}

.home-link__logo,
.breadcrumbs__arrow {
  fill: #ffffff;
}

.header__breadcrumbs:hover {
  opacity: 0.6;
}

.breadcrumbs__home-link,
.breadcrumbs__catalog-link {
  border: 3px solid transparent;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.breadcrumbs__home-link:focus,
.breadcrumbs__catalog-link:focus {
  opacity: 1;
  border: 3px solid#83b3d3;
  border-radius: 4px;
  outline: none;
}

.header__breadcrumbs:active {
  opacity: 0.3;
}

.header__breadcrumbs:active .breadcrumbs__home-link,
.header__breadcrumbs:active .breadcrumbs__catalog-link {
  border: 3px solid transparent;
}

.filter-buttons--apply:hover {
  background-color: #68a2ca;
}

.filter-buttons--apply:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.filter-buttons--apply:active {
  background-color: #68a2ca;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.filter-buttons--reset:hover {
  opacity: 0.6;
}

.filter-buttons--reset:focus {
  opacity: 1;
  border: 3px solid #83b3d3;
  outline: none;
}

.filter-buttons--reset:active {
  opacity: 0.3;
  border: 3px solid transparent;
}

.select-control:hover {
  border-color: #83b3d3;
}

.select-control:focus {
  border-color: #83b3d3;
  outline: none;
}

.select-control:active {
  border-color: #333333;
  opacity: 0.3;
}

.sorting-type {
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333333;
}

.sorting-type img {
  display: block;
}

.sort-by-table:hover,
.sort-by-card:hover,
.sort-by-list:hover,
.sort-by-table:focus,
.sort-by-card:focus,
.sort-by-list:focus {
  border-color: #83b3d3;
  outline: none;
}

.hotel-item-pic:hover {
  opacity: 0.6;
}

.hotel-item-pic:focus {
  outline: 3px solid #83b3d3;
}

.hotel-item-pic:active {
  outline: none;
  opacity: 0.3;
}

.button.details:hover {
  background-color: #615048;
  outline: 1px solid #615048;
  outline-offset: 0;
}

.button.details:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.button.details:active {
  background-color: #615048;
  outline: 1px solid #615048;
  color: rgba(255, 255, 255, 0.3);
  outline-offset: 0;
}

.button.to-favorite:hover,
.button.favorite:hover {
  outline: 1px solid #756257;
  outline-offset: 0;
}

.button.to-favorite:focus,
.button.favorite:focus {
  outline: 3px solid #756257;
  outline-offset: 0;
}

.button.to-favorite:active,
.button.favorite:active {
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
  outline-offset: 0;
}

.page-number a:hover:not(.current-page a) {
  background-color: #68a2ca;
}

.page-number a:focus:not(.current-page a) {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.page-number a:active:not(.current-page a) {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.load-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 1055px;
  height: 0;
  border: 1px solid #e6e6e6;
  margin-bottom: 28px;
}

.catalog-filter-group__range {
  margin-top: 4px;
}

.inputs__range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-scale__range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  margin-top: -8px;
  cursor: pointer;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: -9px;
}

.range__inputs {
  margin-bottom: 28px;
  display: flex;
  position: relative;
}

.catalog-filter-label__input::-webkit-inner-spin-button,
.catalog-filter-label__input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label__input {
  padding: 12px 10px 8px 15px;
  margin: 0;
  width: 91px;
  height: 24px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  appearance: textfield;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  padding-right: 35px;
}

.inputs__catalog-filter-label:first-of-type .catalog-filter-label__input {
  border-radius: 4px 0 0 4px;
}

.inputs__catalog-filter-label:last-of-type .catalog-filter-label__input {
  border-radius: 0 4px 4px 0;
}

.inputs__catalog-filter-label {
  position: relative;
  display: flex;
}

.inputs__catalog-filter-label:first-of-type span {
  position: absolute;
  top: 11px;
  right: 13px;
  color: rgba(255, 255, 255, 0.3);
}

.inputs__catalog-filter-label:last-of-type span {
  position: absolute;
  top: 11px;
  right: 13px;
  color: rgba(255, 255, 255, 0.3);
}

.control__label {
  padding-left: 40px;
}

.catalog-filter-group__control {
  position: relative;
}

.filter-form__catalog-filter-group:first-of-type .control__mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.filter-form__catalog-filter-group:first-of-type .control__input[type="checkbox"]:checked + .control__mark {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form__catalog-filter-group:nth-of-type(2) .control__mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}

.filter-form__catalog-filter-group:nth-of-type(2) .control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #3f5e72;
}

.catalog-filter-group__control:hover .control__mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control__input:focus + .control__mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.catalog-filter-group__control:active .control__mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.catalog-filter-label__input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-label__input:focus {
  border-color: rgba(255, 255, 255, 1);
  outline: none;
  box-shadow: 0 0 0 3px #81b3d2, 0 0 0 3px #81b3d2 inset;
}

.catalog-filter-label__input:active {
  border-color: rgba(255, 255, 255, 1);
  box-shadow: none;
  outline: none;
  background-color: #756257;
}

.index__modal-window {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-window__booking-window {
  position: relative;
  padding: 62px 70px 70px 70px;
  width: 715px;
  height: 561px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  margin: auto;
  box-sizing: border-box;
}

.booking-window__close-modal-button {
  cursor: pointer;
  position: absolute;
  top: 54px;
  right: 70px;
  border: none;
  background-color: #f2f2f2;
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.booking-window__close-modal-button::before,
.booking-window__close-modal-button::after {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  margin-left: -7px;
}

.booking-window__close-modal-button::before {
  transform: rotate(45deg);
}

.booking-window__close-modal-button::after {
  transform: rotate(-45deg);
}

.booking-window__content h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  height: 67px;
  margin-bottom: 32px;
}

.content__booking-form {
  display: grid;
  grid-template-columns: 155px 133px 154px 133px;
  grid-template-rows: 50px 40px 50px 40px 50px 40px 60px;
  grid-template-areas: "arrival-date arrival-input arrival-input arrival-input" ". error error error" "departure-date departure-input departure-input departure-input" ". date-available date-available date-available" "adult adult-number child child-number" ". . . ." "button button button button";
}

.content__booking-form label,
.content__booking-form input {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  vertical-align: middle;
}

.booking-form__arrival-date {
  grid-area: arrival-date;
}

.booking-form__arrival-date-input {
  grid-area: arrival-input;
  padding-left: 19px;
  border: none;
  border-radius: 4px;
  background: #f2f2f2;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.booking-form__date--error {
  display: block;
  grid-area: error;
  color: #ff5757;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.booking-form__departure-date {
  grid-area: departure-date;
}

.booking-form__departure-date-input {
  grid-area: departure-input;
  padding-left: 19px;
  border: none;
  border-radius: 4px;
  background: #f2f2f2;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.booking-form__date--available {
  grid-area: date-available;
  color: #333333;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: block;
  margin: 0;
  padding: 0;
}

.booking-form__adult-section {
  grid-area: adult;
  line-height: 50px;
  vertical-align: middle;
}

.adult-secton__number-section {
  grid-area: adult-number;
  position: relative;
}

.booking-form__child-section {
  grid-area: child;
  text-align: center;
  position: relative;
  line-height: 50px;
}

.booking-form__child-section::after {
  display: block;
  text-align: center;
  line-height: 25px;
  content: "i";
  font-weight: 100;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 18px;
}

.child-section__number-section {
  grid-area: child-number;
  border: none;
  position: relative;
}

.booking-form__search-button {
  grid-area: button;
  color: #ffffff;
  text-align: center;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  text-transform: uppercase;
  border-radius: 10px;
  background: #83b3d3;
  border: none;
  cursor: pointer;
}

.number-section__number::-webkit-inner-spin-button,
.number-section__number::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.number-section__number {
  text-align: center;
  border: none;
  border-radius: 4px;
  background: #f2f2f2;
  padding: 0;
  width: 133px;
  height: 50px;
}

.number-section__subtract,
.number-section__add {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 25px;
  font-weight: 100;
  border: none;
  background-color: transparent;
}

.number-section__subtract {
  margin: 0;
  padding: 0;
  left: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.number-section__add {
  margin: 0;
  padding: 0;
  right: 10px;
  top: 12px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.booking-window__close-modal-button:hover {
  background-color: #e6e6e6;
}

.booking-window__close-modal-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.booking-window__close-modal-button:active {
  background-color: #e6e6e6;
  outline: none;
}

.booking-form__arrival-date-input:hover,
.booking-form__departure-date-input:hover {
  background-color: #e6e6e6;
}

.booking-form__arrival-date-input:focus,
.booking-form__departure-date-input:focus {
  background-color: #ffffff;
  color: #000000;
  outline: 2px solid #000000;
}

.booking-form__arrival-date-input:active,
.booking-form__departure-date-input:active {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.number-section__subtract:hover,
.number-section__add:hover {
  color: #000000;
  outline: none;
}

.number-section__subtract:focus,
.number-section__add:focus {
  color: #000000;
  outline: 3px solid #83b3d3;
}

.number-section__subtract:active,
.number-section__add:active {
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.booking-form__search-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.booking-form__search-button:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid #756257;
}

.booking-form__search-button:active {
  background-color: rgba(104, 162, 202, 1);
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.modal-window--closed {
  display: none;
}

.child-section__popover {
  display: none;
  position: absolute;
  width: 256px;
  height: 143px;
  border-radius: 10px;
  background: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 15px 18px 18px 22px;
  box-sizing: border-box;
}

.popover__text {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin: 0;
  text-align: start;
}

.child-section__popover::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  transform: rotate(45deg);
  margin-left: -16px;
  margin-top: -20px;
}

.booking-form__child-section:hover .child-section__popover {
  display: block;
}
